<ion-header>
  <ion-toolbar>
    <ion-title>Create User</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="content">
      <ion-item>
        <ion-label position="floating">{{'firstname' | titlecase}}</ion-label>
        <ion-input [(ngModel)]="data.firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'lastname' | titlecase}}</ion-label>
        <ion-input [(ngModel)]="data.lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'email' | titlecase}}</ion-label>
        <ion-input [(ngModel)]="data.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'phone number' | titlecase}}</ion-label>
        <ion-input [(ngModel)]="data.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'address' | titlecase}}</ion-label>
        <ion-input [(ngModel)]="data.address"></ion-input>
      </ion-item>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="create()">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
