.container{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        width: 100%;
        max-width: 500px;
        height: 100%;
    }
}